<div>
    <h1>$$deleteall_title$$</h1>
    <p class="calibri">$$deleteall_description$$</p>
    <div style="font-family: 'Calibri';">
        <p><b>$$deleteall_warning0$$</b></p>
        <ul>
            <li>$$deleteall_warning1$$</li>
            <li>$$deleteall_warning2$$</li>
            <li>$$deleteall_warning3$$</li>
        </ul>
        <p><i>$$deleteall_warning4$$</i></p>
    </div>
    <p>$$deleteall_sure$$</p>
    <button style="display: flex; align-items: center; gap: 10px;" id="initbtn">
        <span class="material-symbols-outlined">bomb</span> <b>$$deleteall_deleteall$$</b>
    </button>
    <br>
    <progress id="progbar" value="0" max="100"></progress>
</div>
<style>
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
</style>
JSL
AUDIO[views/deleteall/minigame.mp3]
TITLEKEY[deleteall_title]