<div>
    <h1>Delete all installations</h1>
    <p class="calibri">Via this page you will be able to delete all Deltamod data.</p>
    <div style="font-family: 'Calibri';">
        <p><b>You will lose:</b></p>
        <ul>
            <li>All your installations</li>
            <li>All your mods</li>
            <li>All your options</li>
        </ul>
        <p><i>This action is irreversible! Are you sure you want to proceed?</i></p>
    </div>
    <p>Are you sure you want to delete all data? This action is irreversible!</p>
    <button style="display: flex; align-items: center; gap: 10px;" id="initbtn">
        <span class="material-symbols-outlined">bomb</span> <b>Delete all data</b>
    </button>
    <br>
    <progress id="progbar" value="0" max="100"></progress>
</div>
<style>
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
</style>
JSL
AUDIO[views/deleteall/minigame.mp3]
TITLE[Delete all installations]