.stamp {
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.95em;
    background-color: var(--theme-color-rgbaless);
    color: white;
    border-radius: 5px;
}
.commentBox {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid var(--theme-color);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 10px;
    position: relative;
}
.commentArea {
    width: calc(100% - 55px);
}
.pinIcon {
    position: fixed;
    top: -5px;
    left: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-color);
}