<button onclick="page('gamebanana-browse')">$$back$$</button>
<br>
<h1>$$commentsmenu_title$$</h1>
<div class="comments">
    <div class="commentBox">
        <img src="" alt="" width="50" height="50" id="gbPic">
        <div class="commentArea">
            <textarea name="comment" id="comment" style="width: calc(100% - 10px); height: 150px; background-color: rgba(0,0,0,0.5); color: white;" placeholder="$$commentsmenu_type$$"></textarea>
            <br><br>
            <button onclick="window.currentPageStack.send()" id="sendBtn">$$send$$</button>
        </div>
    </div>
</div>
<style>
.stamp {
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.95em;
    background-color: var(--theme-color-rgbaless);
    color: white;
    border-radius: 5px;
}
.commentBox {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid var(--theme-color);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 10px;
}
.commentArea {
    width: calc(100% - 55px);
}
</style>
JSL
TITLEKEY[commentsmenu_title]