<div>
    <div class="tspandiv">
        <img src="" alt="" width="32" height="32" id="gbPic">
        <button onclick="page('')">
            <span class="material-symbols-outlined smicon">home</span>
        </button>
        <div class="bfgroup">
            <button onclick="window.currentPageStack.plusPage(-1)">
                <span class="material-symbols-outlined smicon">arrow_back</span>
            </button>
            <button onclick="window.currentPageStack.plusPage(1)">
                <span class="material-symbols-outlined smicon">arrow_forward</span>
            </button>
        </div>
        <input type="text" id="searchInput" placeholder="Search mods...">
        <button onclick="window.currentPageStack.search()">
            <span class="material-symbols-outlined smicon">search</span>
        </button>
    </div>
    <p id="searchInd" style="display: none; font-style: italic !important;">Currently showing results for "gendered"</p>
    <table>
        <colgroup>
            <col style="width: calc(100% - 200px);">
            <col style="width: 200px;">
        </colgroup>
        <tr>
            <th>
                Mod
            </th>
            <th>
                Download
            </th>
        </tr>
        <tbody id="modsBody">
            <tr>
                <td colspan="2" style="text-align: center;">Loading...</td>
            </tr>
        </tbody>
    </table>
    <p>"Wii Shop Channel - Megalovania Edition" by Offtopic</p>
</div>
JSL
STYLESHEET[indx]
AUDIO[views/gamebanana-browse/leshop.mp3]