<div>
    <div class="tspandiv">
        <div class="downloads">
            <button class="dlactionButton" popovertarget="dlBox" style="opacity: 0.5;">
                <span class="material-symbols-outlined smicon">download</span>
            </button>
            <div popover id="dlBox">
                <h3>Current downloads</h3>
                <small style="font-size: 1.1em;" id="nothingHere">Nothing to see over here!</small>
            </div>
        </div>
        <div class="gamebanana">
            <img id="gbPic" popovertarget="gbBox" width="32" height="32" onclick="document.querySelector('#gbBox').showPopover()">
            <div popover id="gbBox">
                
            </div>
        </div>
        <button onclick="page('')">
            <span class="material-symbols-outlined smicon">home</span>
        </button>
        <div class="autocomplete">
            <input type="text" id="searchInput" placeholder="Search for mods...">
            <div class="results" style="opacity: 0; pointer-events: none;">

            </div>
        </div>
        <button onclick="window.currentPageStack.search()">
            <span class="material-symbols-outlined smicon">search</span>
        </button>
    </div>
    <p id="searchInd" style="display: none;"></p>
    <table>
        <colgroup>
            <col style="width: calc(100% - 200px);">
            <col style="width: 200px;">
        </colgroup>
        <tr>
            <th>
                Mod
            </th>
            <th>
                Download
            </th>
        </tr>
        <tbody id="modsBody">
            <tr>
                <td colspan="2" style="text-align: center;">Loading...</td>
            </tr>
        </tbody>
    </table>
    <div class="scrollBottomDetector">
        <div class="loadingBar"></div>
    </div>
</div>
JSL
STYLESHEET[indx]
AUDIO[views/gamebanana-browse/leshop.mp3]
TITLE[Mod Shop]