<div>
    <div class="tspandiv">
        <span class="material-symbols-outlined sbag">shopping_bag_speed</span>
        <div style="width: 20px;"></div>
        <button onclick="page('')">
            <span class="material-symbols-outlined smicon">home</span>
        </button>
        <button onclick="window.currentPageStack.plusPage(-1)">
            <span class="material-symbols-outlined smicon">arrow_back</span>
        </button>
        <button onclick="window.currentPageStack.plusPage(1)">
            <span class="material-symbols-outlined smicon">arrow_forward</span>
        </button>
        <input type="text" id="searchInput" placeholder="Search mods...">
        <button onclick="window.currentPageStack.search()">
            <span class="material-symbols-outlined smicon">search</span>
        </button>
        <button onclick="window.currentPageStack.featured()">
            <span class="material-symbols-outlined smicon">star</span>
        </button>
    </div>
    <p id="searchInd" style="display: none; font-style: italic !important;">Currently showing results for "gendered"</p>
    <table>
        <colgroup>
            <col style="width: 80%;">
            <col style="width: 20%;">
        </colgroup>
        <tr>
            <th>
                Mod
            </th>
            <th>
                Download
            </th>
        </tr>
        <tbody id="modsBody">
            <tr>
                <td colspan="2" style="text-align: center;">Loading...</td>
            </tr>
        </tbody>
    </table>
</div>
JSL
STYLESHEET[indx]
AUDIO[views/gamebanana-browse/leshop.mp3]