<button onclick="page('options')">Back</button>
<br><br>
<h1>Select a theme</h1>
<table>
    <colgroup>
        <col style="width: 50px;">
        <col style="width: calc(90% - 50px);">
        <col style="width: 10%;">
    </colgroup>
    <tr>
        <th>Preview</th>
        <th>Theme name</th>
        <th>Actions</th>
    </tr>
    <tbody id="themes"></tbody>
</table>
<br>
<button onclick="invoke('importTheme',[])">Import your own theme</button>
JSL
TITLE[Select a theme]
AUDIO[views/options/ost.mp3]