<button onclick="page('options')">$$back$$</button>
<br><br>
<h1>$$themesel_title$$</h1>
<table>
    <colgroup>
        <col style="width: 50px;">
        <col style="width: calc(90% - 50px);">
        <col style="width: 10%;">
    </colgroup>
    <tr>
        <th>$$themesel_preview$$</th>
        <th>$$themesel_name$$</th>
        <th>$$actions$$</th>
    </tr>
    <tbody id="themes"></tbody>
</table>
<br>
<button onclick="invoke('importTheme',[])">Import your own theme</button>
JSL
TITLEKEY[themesel_title]