#credits {
    width: calc(100% - 80px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    padding: 40px;
    background: url('./img/battle.gif') no-repeat center center;
    background-size: cover;

    border: 3px solid white;
}

.creditsBox {
    background-color: rgba(0,0,0,1);
    border: 3px solid white;
    height: 72px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
    cursor: pointer;
}

.credits-name {
    font-size: 26px;
    margin: 0;
}

.credits-role {
    font-size: 19px;
    font-style: italic;
    color: rgba(255,255,255,0.7);
    margin: 0;
}