.gbcredits {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.credits-avatar {
    background-color: rgba(255, 255, 255, 0.5);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 6px;
}

.credits-author {
    cursor: pointer;
    color: white;
    text-decoration: none;
    width: fit-content;
}

.credits-author:hover {
    color: yellow;
}

#discordBtn {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}