<div>
    <h1>Software info</h1>
    <div class="sinfo-group">
        <div class="picon">
            <img src="./packIcon.png" width="64">
        </div>
        <div class="pinfo calibri">
            <p id="version"></p>
        </div>
    </div>
    <br>
    <h1>Credits</h1>
    <div class="gbcredits">
        <i>Loading...</i>
    </div>
    <p><i>Special thanks to Toby Fox for making DELTARUNE and being such a good gamedev in general!</i></p>
</div>
JSL
AUDIO[mainTheme.mp3]
STYLESHEET[credits]