<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downloading...</title>
</head>
<body style="text-align: center;">
    <p style="text-align: center;">Downloading the patcher...</p>
    <progress id="prog" max="100"></progress>
</body>
<script>
    function updateProgress(percent) {
        const progressBar = document.getElementById('prog');
        progressBar.value = percent;
    }
</script>
</html>