@keyframes alertFadeIn {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


@keyframes alertFadeOut {
    from {
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        opacity: 0;
        transform: translateX(200px);
    }
}

.alertMain {
    align-items: center;
}

.alertMsg {
    border-top: 2px solid var(--theme-color);
    border-bottom: 2px solid var(--theme-color);
}