<div style="overflow: hidden;">
    <h1>Patch menu</h1>
    <div style="overflow-y: scroll; height: 530px; overflow-x: hidden; mask-image: linear-gradient(180deg, black 90%, transparent 100%); padding: 0 0 20px 0;">
        <table style="width: 100%; max-height: 200px; overflow-y: scroll;" id="modtable">
            <colgroup>
                <col style="width: 85%;">
                <col style="width: 5%;">
                <col style="width: 10%;">
            </colgroup>
            <thead style="position: sticky; top: -2px;">
                <tr>
                    <th>Mod</th>
                    <th>Enabled</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <div style="display: none;" class="modlist-error" id="error-banner">
                <h2>{x} mod(s) failed to load</h2>
                <span class="calibri">Click on this banner to view more details.</span>
            </div>
            <tbody id="modlist">
            </tbody>
        </table>
    </div>
    <div class="buttons">
        <button onclick="window.electronAPI.invoke('importMod',[])">
            <span class="material-symbols-outlined">
                add_box
            </span>
        </button>
        <button onclick="window.currentPageStack.patchAndRun()" id="par">
            <span class="material-symbols-outlined" style="scale: 1.2;">
                arrow_circle_right
            </span>
        </button>
        <dialog class="error-list-dialog" id="error-list-dialog">
            <h2>Some mods failed to load</h2>
            <span class="calibri">Below is a list of mods that have failed to load along with the reason.</span>
            <div class="error-list-div" id="error-list-div">

            </div>
            <div class="error-buttons">
                <button onclick="document.getElementById('error-list-dialog').close()">OK</button>
            </div>
        </dialog>
    </div>
</div>
JSL
AUDIO[mainTheme.mp3]
STYLESHEET[main]