@keyframes open {
  0% { opacity: 0.5; width: 0px; }
  100% { opacity: 1; width: 100px; }
}

tr {
  height: 100%;
}

.spacebet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.p2 > button {
  margin: 5px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: 2px solid var(--theme-color) !important;
  padding: 10px;
  box-shadow: 0px 4px 6px var(--theme-color);
  filter: brightness(110%);
}
.p2 > button:hover {
  background-color: var(--theme-color);
  scale: 1.1;
  color: white;
  cursor: pointer;
  transition: 0.3s all;
}
select {
  font-family: "Pixel", sans-serif;
  font-size: 10px;
  color: white;
  background-color: rgb(15, 15, 15);
  border: 1px solid rgb(66, 66, 66);
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
}

th {
  text-align: left;
}

.mod-image {
  border-radius: 6px;
  border: 2px solid #ffffff3c;
  box-shadow: 0px 4px 6px rgba(105, 105, 105, 0.44);
  object-fit: contain;
  display: block;
  transition: 0.4s all;
}

.mod-image:hover {
  border: 2px solid white;
  box-shadow: 0px 6px 8px rgba(105, 105, 105, 0.6);
  scale: 1.05;
}

.modlist-actions-column-bdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  flex-wrap: nowrap;
  height: 100%;
}
.modlist-enabled-column {
  input[type=checkbox] {
      margin: 0;
      width: 40px;
      height: 25px;
      cursor: pointer;
      accent-color: rgba(57, 57, 57, 0.455);
      border: 6px solid white;
      scale: 1.1;
    }
}

.modlist-error {
  width: 100%;
  padding: 8px;
  background-color: #ff1111bb;
  border: 1px solid #ff0000cc;
  margin-bottom: 8px;
  cursor: pointer;
}

.modlist-error > h2 {
  margin: 0;
}

.modlist-error > span {
  margin: 0;
}

.error-list-dialog, .error-list-dialog:focus {
  color: white;
  border: 2px solid white;
  background-color: black;
  padding: 12px;
}

.error-list-dialog h2 {
  margin: 0;
}

.error-list-div {
  display: flex;
  width: fit-content;
  flex-direction: column;
  margin-top: 12px;
  gap: 8px;
}

.error-holder {
  border: 2px solid white;
  padding: 8px;
  margin: 4px;
}

.error-buttons {
  margin-top: 12px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 4px;
}