<button onclick="page('main')">Back</button>
<br>
<body>
<br>
<h1>Deltarune logs</h1>
<div class="logs" id="lg">
    aaa
</div>
<br>
<small class="calibri" style="font-style: italic;">You are seeing this screen because you enabled showing technical Deltarune logs. You can disable this in the Settings.</small>
<style>
    .logs {
        font-size: 10px;
        font-family: 'Consolas', monospace;
        width: calc(100% - 20px);
        padding: 5px;
        min-height: 300px;
        max-height: 700px;
        overflow: auto;
        color: white;
        background-color: #000000;
        border: 1px solid #3d3d3d;
    }
</style>
JSL
AUDIO[mainTheme.mp3]