@keyframes scale {
    0% {
        transform: translateX(-80vw);
    }

    100% {
        transform: translateX(70vw);
    }
}

.sponsor-image {
    animation: scale 2.93s reverse infinite linear;
    transition: scale 0.3s;
}