@keyframes scale {
    0% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(20deg);
    }
}

.sponsor-image {
    animation: scale 2.93s reverse infinite linear;
    transition: scale 0.3s;
}