<div>
    <h1>Locate the Deltarune files</h1>
    <p class="calibri">Welcome, and thanks for downloading Deltamod! <br><br>Please use the picker below to choose your Deltarune installation.</p>
    <hr>
    <div>
        <p class="imagetextbundle">
        <img src="commons/delta.webp" alt="" width="12">
        Select your DELTARUNE installation folder.
        </p>
        <div class="fileInput" style="display: flex; justify-content: left; align-items: center; gap: 5px;">
            <input type="text" name="" id="dpath" placeholder="Path to your Deltarune install" style="width: 100%;">
            <button onclick="window.currentPageStack.locateDelta()">
                <span class="material-symbols-outlined" style="font-size: 17px;">folder_open</span>
            </button>
            <button onclick="window.currentPageStack.steam()">
                <img src="steam.svg" alt="" srcset="" width="17">
            </button>
            <button onclick="window.currentPageStack.downloadDelta()">
                <span class="material-symbols-outlined" style="font-size: 17px;">download</span>
            </button>
        </div>
        
    </div>
    <br>
    <hr>
    <p class="calibri" style="font-size: 12px;">
        <span class="material-symbols-outlined" style="font-size: 12px;">info</span> Deltamod will copy your install to a separate folder. If you are using Steam, it will be pointed automatically to the new folder using a junction (folder shortcut).
    </p>
    <button onclick="window.currentPageStack.id()">Save and close</button>
    <br><br>
    <small class="calibri">
        <input type="checkbox" name="audioCHECK" id="audioCHECK" style="cursor: pointer;">
        Play background music
    </small>
</div>
JSL
AUDIO[mainTheme.mp3]
NO-SIDEBAR