<div>
    <h1>Locate your game</h1>
    <p class="calibri">To use Deltamod, you need to locate your game installation. But don't worry! It's very easy.</p>
    <p class="noticebox">
        Beginning from Deltamod 1.9, Deltamod no longer copies your game to its app data by default. As such, no second copy of your game is created when importing.<br><br>Please make sure the game is in a directory which is always available, or tick the box to override this behavior.
    </p>
    <hr>
    <div>
        <p style="display: flex; justify-content: left; align-items: center; gap: 10px;">
        <span class="material-symbols-outlined">gamepad_up</span>
        Select the game you are trying to add.
        </p>
        <div class="gOptions">

        </div>
        <p style="display: flex; justify-content: left; align-items: center; gap: 10px;">
        <span class="material-symbols-outlined">folder</span>
        Select the folder where your game is installed.
        </p>
        <div class="fileInput" style="display: flex; justify-content: left; align-items: center; gap: 5px;">
            <input type="text" name="" id="dpath" placeholder="Path to your game installation" style="width: 100%;">
            <button onclick="window.currentPageStack.locateDelta()">
                <span class="material-symbols-outlined" style="font-size: 17px;">folder_open</span>
            </button>
        </div>
        <p class="smaller">These other methods are also available for importing the game:</p>
        <div class="otherImports">
            <button onclick="window.currentPageStack.steam()" id="feat_steam">
                <brand-icon style="font-size: 14px;">S</brand-icon> Import from Steam
            </button>
            <button onclick="window.currentPageStack.downloadDelta()" id="feat_autodownload">
                <span class="material-symbols-outlined" style="font-size: 14px;">cloud_download</span> Automatic download
            </button>
        </div>
    </div>
    <br>
    <hr>
    <div class="copyAnyways">
        <input type="checkbox" name="" id="copyAnyways">
        <label for="copyAnyways">Save a copy of this game on your main drive</label>
    </div>
    <br>
    <button onclick="window.currentPageStack.id()">Save and close</button>
    <br><br>
</div>
<style>
    .selectedGameIco {
        scale: 1.19;
        opacity: 1 !important;
    }
    .copyAnyways {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }
    input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }
    .otherImports {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }
    .otherImports > button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .noticebox {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(255, 0, 0, 0.318);
        backdrop-filter: blur(5px);
        border: 1px solid red;
    }
    .smaller {
        font-size: 14px;
        color: #888;
    }
    .gOptions {
        width: 100%;
        height: 50px;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(0,0,0,0.5);
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 20px;
        border: 1px solid var(--theme-color);
    }
    .gameIco {
        width: 30px;
        opacity: 0.4;
        padding: 10px;
        transition: all 0.3s ease;
    }
</style>
JSL
AUDIO[mainTheme.mp3]
TITLE[Locate your game]