<div>
    <h1>Locate the Deltarune files</h1>
    <p class="calibri">Welcome, and thanks for downloading Deltamod. <br><br>The tool will need to modify the various <i>data.win</i> files in order to add mods to your game. You will now setup Deltamod to point to your <b>Deltarune</b> installation.</p>
    <hr>
    <div>
        <p class="imagetextbundle">
        <img src="commons/delta.webp" alt="" width="12">
        Select your DELTARUNE installation folder.
        </p>
        <input type="text" name="" id="dpath" placeholder="Path to your Deltarune install" style="width: 100%;">
        <br>
        <button onclick="window.currentPageStack.locateDelta()">...or browse your computer</button>
        <br><br>
    </div>
    <hr>
    <p class="calibri">Your installation will be copied to the AppData folder for Deltamod. This will allow us to backup and modify it. <i>You can add more installations later on with the Install Manager.</i></p>
    <button onclick="window.currentPageStack.id()">Save and close</button>
    <br><br>
    <small class="calibri"><i>The BGM playing in the background can also be disabled in the Options.</i></small>
</div>
JSL
AUDIO[mainTheme.mp3]
NO-SIDEBAR