<button onclick="page('options')">$$back$$</button>
<br><br>
<h1 style="margin-bottom: 5px;">$$gm3psel_title$$</h1>
<p style="margin-top: 0;" class="calibri"><i>$$gm3psel_desc1$$</i></p>
<div class="warning">
    <span class="material-symbols-outlined">warning</span>
    $$gm3psel_desc2$$
</div>
<br>
<div class="spbt">
    <h3>$$gm3psel_availablereleases$$</h3>
    <button onclick="window.currentPageStack.importPatcher()">$$gm3psel_importown$$</button>
</div>
<select name="viewPatcher" id="viewPatcher">
    <option value="deltamodders/GM3P">GM3P</option>
    <option value="Egochka11/DEVICE-FUSION">DEVICE_FUSION</option>
    <option value="deltamodders/G3MTool-Deltamod">G3MTool (Beta)</option>
</select>
<br><br>
<div class="releases">

</div>
STYLESHEET[style]
JSL
TITLEKEY[gm3psel_title]