<h1 style="margin-bottom: 0;">Change GM3P version</h1>
<p style="margin-top: 0;" class="calibri"><i>If GM3P doesn't work for you, downloading a new release might fix the issue.</i></p>
<div class="warning">
    <span class="material-symbols-outlined">warning</span>
    Only do this if you know what you're doing or if a dev told you to. Since GM3P may have breaking changes between versions, switching versions may cause patching to stop working.
</div>
<br>
<p class="calibri" style="font-size: small;"><i>...or you can try to download DEVICE_FUSION from the Options menu (Beta)</i></p>
<h3>Available releases</h3>
<div class="releases">

</div>
<p>These are all of the releases that the author of GM3P published.</p>
STYLESHEET[style]
JSL