<button onclick="page('options')">Back</button>
<br><br>
<h1 style="margin-bottom: 5px;">Change patcher</h1>
<p style="margin-top: 0;" class="calibri"><i>If the current patching system doesn't work for you, downloading a new one might fix the issue.</i></p>
<div class="warning">
    <span class="material-symbols-outlined">warning</span>
    Only do this if you know what you're doing or if a dev told you to. Since the patchers may have breaking changes between versions, switching versions may cause patching to stop working.
</div>
<br>
<h3>Available releases</h3>
<select name="viewPatcher" id="viewPatcher">
    <option value="deltamodders/GM3P">GM3P</option>
    <option value="Egochka11/DEVICE-FUSION">DEVICE_FUSION</option>
</select>
<br><br>
<div class="releases">

</div>
<p>These are all of the releases that the author of this patcher published.</p>
STYLESHEET[style]
JSL