<div>
    <h1>Choose which mods to export</h1>
    <table>
        <colgroup>
            <col style="width: calc(100% - 100px);">
            <col style="width: 100px;">
        </colgroup>
        <thead>
            <tr>
                <th>Mod</th>
                <th>Export?</th>
            </tr>
        </thead>
        <tbody id="mod-list">
        </tbody>
    </table>
    <br>
    <div class="alignRight">
        <button onclick="page('collections')">Back</button>
        <button onclick="window.currentPageStack.exportMods()" id="export-btn" disabled>Export</button>
    </div>
</div>
JSL
TITLE[Choose which mods to export]
STYLESHEET[index]