<div>
    <h1>$$collection_export_choose_title$$</h1>
    <table>
        <colgroup>
            <col style="width: calc(100% - 100px);">
            <col style="width: 100px;">
        </colgroup>
        <thead>
            <tr>
                <th>$$mod$$</th>
                <th>$$export_question$$</th>
            </tr>
        </thead>
        <tbody id="mod-list">
        </tbody>
    </table>
    <br>
    <div class="alignRight">
        <button onclick="page('collections')">$$back$$</button>
        <button onclick="window.currentPageStack.exportMods()" id="export-btn" disabled>$$export$$</button>
    </div>
</div>
JSL
TITLEKEY[collection_export_choose_title]
STYLESHEET[index]