<div>
    <h1>Options</h1>
    <div style="overflow-y: scroll; height: 100%; overflow-x: hidden; display: flex; justify-content: left; align-items: baseline; gap: 20px;">
        <div class="cat" style="width: 20%; display: unset;">
            <button onclick="window.currentPageStack.cat('gen')">General</button>
            <button onclick="window.currentPageStack.cat('ui')">UI</button>
            <button onclick="window.currentPageStack.cat('inst')">Installation</button>
            <button onclick="window.currentPageStack.cat('adv')">Advanced</button>
        </div>
        <div class="opt" style="width: 80%; display: unset;">
            <table style="width: 100%; max-height: 200px; overflow-y: scroll;" id="modtable">
                <colgroup>
                    <col style="width: 80%;">
                    <col style="width: 20%;">
                </colgroup>
                <thead style="position: sticky; top: -2px;">
                    <tr>
                        <th>Option</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="options">
                    <tr>
                        <td colspan="2" style="text-align: center;">Select a category on the left to view the options.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

STYLESHEET[options]
JSL