<div>
    <h1>$$options$$</h1>
    <div style="overflow-y: scroll; height: 100%; overflow-x: hidden; display: flex; justify-content: left; align-items: baseline; gap: 70px;">
        <div class="cat" style="width: 20%; display: unset;">
            <button onclick="window.currentPageStack.cat('gen')" id="b_gen" class="noScaleBTN">$$optcat_general$$</button>
            <button onclick="window.currentPageStack.cat('lang')" id="b_lang" class="noScaleBTN">$$optcat_lang$$</button>
            <button onclick="window.currentPageStack.cat('ui')" id="b_ui" class="noScaleBTN">$$optcat_ui$$</button>
            <button onclick="window.currentPageStack.cat('inst')" id="b_inst" class="noScaleBTN">$$optcat_installation$$</button>
            <button onclick="window.currentPageStack.cat('adv')" id="b_adv" class="noScaleBTN">$$optcat_advanced$$</button>
            <button onclick="window.currentPageStack.cat('gb')" id="b_gb" class="noScaleBTN">$$optcat_gamebanana$$</button>
            <button onclick="window.currentPageStack.cat('dev')" id="b_dev" style="display: none;" class="noScaleBTN">$$optcat_developer$$</button>
        </div>
        <div class="opt" style="width: 70%; display: unset;">
            <table style="width: 100%; max-height: 200px; overflow-y: scroll;" id="modtable">
                <colgroup>
                    <col style="width: 80%;">
                    <col style="width: 20%;">
                </colgroup>
                <thead style="position: sticky; top: -2px;">
                    <tr>
                        <th>$$option$$</th>
                        <th>$$status$$</th>
                    </tr>
                </thead>
                <tbody id="options">
                    <tr>
                        <td colspan="2" style="text-align: center;">$$optcat_selectone$$</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

STYLESHEET[options]
JSL
TITLEKEY[options]
AUDIO[views/options/ost.mp3]
THEME-AUDIO-EXCLUDE[base]