@keyframes scale-easeOutElastic {
	0% {
		transform: scale(1);
	}

	16% {
		transform: scale(1.384);
	}

	28% {
		transform: scale(1.174);
	}

	44% {
		transform: scale(1.226);
	}

	59% {
		transform: scale(1.192);
	}

	73% {
		transform: scale(1.208);
	}

	88% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1.2);
	}
}

tr {
       transition: 0.1s all; 
    }
    tr:hover {
        background-color: rgba(124,124,124, 0.2);
    }
    td, th:not(.center) {
        text-align: left;
    }
    .center {
        text-align: center;
    }
    .blur {
       opacity: 0.5;
       filter: grayscale(50%)
    }
    .input {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    .cat > button:not(.back) {
        cursor: pointer;
        width: 100%;
    }
    th {
        height: 100%;
    }
    .cat {
        background: rgba(40, 40, 40, 0.05);
        width: 30%;
        height: 100%;
        padding: 15px;
        margin-top: 0px;
        border: 2px solid var(--theme-color);
        border-radius: 10px;
        box-shadow: 0 0 10px var(--theme-color);
        backdrop-filter: brightness(0.8);
    }

    .selected {
        scale: 1.1;
        box-shadow: 0 0 10px var(--theme-color);
    }
    .cat > button {
        padding: 7px;
        
        padding-left: 12px;
        text-align: left;

        transition: 0.6s all cubic-bezier(0.16, 1, 0.3, 1);
    }
    .cat > button:not(:last-child) {
        margin-bottom: 10px;
    }
    .optionName {
        font-size: 1.2em;
        font-weight: bold;
    }

.optbtn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.semimenu {
    margin-bottom: 10px;
    display: block;
}

.minibtn {
    padding: 2px !important;
    padding-left: 7px !important;
    font-size: 0.9em;
    margin-left: 15px;
    margin-bottom: 5px;
    width: calc(100% - 15px) !important;
}