@keyframes scale-easeOutElastic {
	0% {
		transform: scale(1);
	}

	16% {
		transform: scale(1.384);
	}

	28% {
		transform: scale(1.174);
	}

	44% {
		transform: scale(1.226);
	}

	59% {
		transform: scale(1.192);
	}

	73% {
		transform: scale(1.208);
	}

	88% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1.2);
	}
}

tr {
       transition: 0.1s all; 
    }
    tr:hover {
        background-color: rgba(124,124,124, 0.2);
    }
    td, th:not(.center) {
        text-align: left;
    }
    .center {
        text-align: center;
    }
    .blur {
       opacity: 0.5;
       filter: grayscale(50%)
    }
    .input {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    .cat > button:not(.back) {
        cursor: pointer;
        width: 100%;
    }
    th {
        height: 100%;
    }
    /* No seriously, why doesn't b work??? */
    b {
        font-weight: bold !important;
    }

    .cat {
        background: rgba(0, 0, 0, 0.299);
        width: 30%;
        height: 100%;
        padding: 15px;
        margin-top: 0px;
        border: 2px solid var(--theme-color);
        border-radius: 10px;
        box-shadow: 0 0 10px var(--theme-color);
        backdrop-filter: blur(10px);
    }

    .selected {
        scale: 1.4;
        padding-left: 19px !important;
        transform: rotate(2deg);
        box-shadow: 0 0 10px var(--theme-color);
    }
    .cat > button {
        padding: 7px;
        
        padding-left: 12px;
        text-align: left;

        transition: 0.6s all cubic-bezier(0.16, 1, 0.3, 1);
    }
    .cat > button:not(:last-child) {
        margin-bottom: 10px;
    }