<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deltamod error</title>
    <link rel="stylesheet" href="../../commons/base.css">
</head>
<body>
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; color: white; text-align: center;">
        <img src="./tree.gif" alt="" width="128" height="128">
        <br>
        <p>An error occurred. Please check the log file for more details.</p>
        <p>The log file can be found in Documents > deltamodErrors. </p>
        <br>
        <button onclick="window.close()">Close</button>
    </div>
    <div class="border">

    </div>
</body>
<style>
    .border {
       z-index: 100000;
        border: 6px solid #dd00608d;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        margin: 0;
        pointer-events: none;
    }
    body {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(55, 0, 24);
    }
</style>
<script>
    var audio = new Audio('./ost.mp3');
    audio.loop = true;
    audio.play();
</script>
</html>