<h1>No longer supported</h1>
<div class="calibri">
    This installation is a Legacy Baked Installation, and installs that utilize this feature are no longer supported as of <strong>Deltamod 1.6</strong>.<br><br>
    Please go into the Install Manager and delete this installation.<br><br>
    <button onclick="page('installmanager')">Install Manager</button>
</div>
<br>
<small class="calibri" style="color: #888;">The install you have selected is no longer bootable. This is due to the multiple games support being incompatible with Legacy Baking. If you wish to backup this installation, do so before deleting it.</small>
JSL
AUDIO[mainTheme.mp3]
STYLESHEET[main]