<div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
    <div>
        <p style="font-size: 25px; margin-bottom: 0;" class="iconhoster" id="patchingTXT"><span class="material-symbols-outlined rotate">cycle</span><i>$$patch_preparing$$</i></p>
        <p class="calibri" id="patchingDesc">$$patch_plswait$$</p>
        <div class="logs" id="gpl"></div>
    </div>
</div>


<div class="buttons">
    <button onclick="window.currentPageStack.next()" id="next" style="display: none;">$$open_dr$$</button>
</div>
JSL
NO-SIDEBAR
STYLESHEET[style]
TITLEKEY[patching_title]
AUDIO[views/patching/patching.mp3]