<div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
    <div class="patchingIsland">
        <div class="tabs">
            <div class="tab1">
            
            </div>
            <div class="tab2">
                <p style="font-size: 25px; margin-bottom: 0;" class="iconhoster" id="patchingTXT"><span class="material-symbols-outlined rotate">cycle</span><i>Preparing for launch...</i></p>
                <p class="calibri" id="patchingDesc">You can toggle the patching logs by clicking the button in bottom left.</p>
                <br>
            </div>
        </div>
        <div class="logs" id="gpl" style="display: none;"></div>
    </div>
</div>


<div class="buttons">
    
    <button onclick="window.currentPageStack.toggleGM3P()" id="gpl">Toggle logs</button>
    <button onclick="window.currentPageStack.next()" id="next" style="display: none;">Open DELTARUNE</button>
</div>
JSL
NO-SIDEBAR
STYLESHEET[style]